JuliaNotebooks
teszt.ipynb
matrix.out
experiments.py
__pycache__/
mdl.py
tests.py
teszt_ba.txt
teszt_density.txt
teszt_density2.txt
teszt_density3.txt
teszt_er.txt
teszt_er2.txt
teszt_er3.txt
teszt_nodes.txt
teszt.txt